main {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: 100vh;

}

.description {
    max-width: 15em;

}

img {
    background-color: #262f38;
    max-width: 2em;
    border-radius: 50%;
    padding: 0.5em;
}

p {
    text-align: justify;
    font-weight: 400;
    font-size: 15px;
    color: hsl(217, 12%, 63%);
}

.content {
    /* background-image: radial-gradient(ellipse at center top, hsl(213, 19%, 18%)0%, hsl(216, 12%, 8%)70%); */
    background-color: #1c232d;
    padding: 1.5em;
    border-radius: 1em;
    max-width: 20em;
    font-family: Overpass;
}

.values {
    display: flex;
    justify-content: center;
    gap: 0.5em;

}

.btn-value {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: hsl(217, 12%, 63%);
    background-color: #262f38;
}

.btn-value:hover {
    background-color: #778391;
}

.btn-value:active {
    background-color: hsl(25, 97%, 53%);
}

.submit {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.submit-btn {
    width: 17em;
    height: 2.5em;
    border: none;
    background-color: hsl(25, 97%, 53%);
    border-radius: 1.5em;
    font-size: 15px;
    font-weight: 700;
    color: white;

}

.submit-btn:active {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

body {
    background-color: #141519;
}

h2 {
    color: white;
}

@media only screen and(max-width: 375px) {
    main {
        max-width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}